body{
    background-color: black;
    font-family: Arial;
}

header{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: white;
}

body > header > img{
    display: inline-block;
    height: 50px;
    float: left;
}

header > nav{
    display: inline-block;
    float: right;
    margin-top: 4px;
}

nav > a{
    float: left;
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    border: 4px solid transparent;
    color: #9f9f9f;
    text-decoration: none;
    padding: 5px;
    border-radius: 19px;
}

nav > a:last-of-type{
    border-color: #9f9f9f;
    color: #9f9f9f;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
}

body > main{
    display: inline-block;
    margin-top: 40px;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color:white;
    font-style:;
}

main > div{
    display: inline-block;
    float: left;
    width: 35%;
    margin-left: 6%;
    color: #9f9f9f;
}

div > h1{
    display: inline-block;
    width: 100%;
    font-size: 80px;
    line-height: 80px;
    margin: 0;
    margin-top: 60px;
}

div > p{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
}

main > img{
    display: inline-block;
    float: right;
    width: 46%;
    margin-right: 2%;
}